.intro-text {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

#btn-intro {
    background-color: #fff;
    border-color: #fff;
    color: rgb(23, 88, 23);
}

#logo {
    font-family: 'Lobster Two', cursive;
    color: #fff;
    font-size: 40px;
    margin-left: 5px;
}

#index-logo {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}

.card-title {
    font-family: 'Lobster Two', cursive;
}

.navbar {
    background-color: rgb(27, 71, 27);
    height: 80px;
}

#navbar {
    background-color: rgb(27, 71, 27);
}

#navbarNav {
    color: #fff;
}

.navbar-toggler {
    color: #fff;
    background-color: #fff;
    margin-right: 5px;
}

.navbar-toggler-icon {
    color: #fff;
}

.navbar-nav .nav-item {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.container {
    max-width: 100%;
    margin: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;

}

#hanging-icons {
    margin: 50px;
}

.mb-3 {
    font-size: 20px;
    margin-bottom: 200px;
}

.row row-cols-1 row-cols-md-3 g-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px;

}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.mb-3.flex.justify-center.w-full.mx-auto {
    margin-bottom: 200px;
}

.login {
    margin-top: 50px;
    font-family: 'Lobster Two', cursive;
    align-items: center;
}

.row.row-cols-1.row-cols-md-3.g-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
}

.accountalready {
    margin: 20px;
}

#col {
    width: 100%;
}

.primaryAction.btn.btn-primary {
    margin-left: 20px;
}

/* Contact Style */
#contact {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}

.phone {
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    margin-bottom: 20px;
}

.email {
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    margin-bottom: 20px;
}

#contact-id {
    font-size: 25px;
}

.row.g-4.py-5.row-cols-1.row-cols-lg-3 {
    margin: 50px;
}

/* Map */

#map {
    width: 100%;
    height: 250px;
}

/* Make Reservation Styles*/
label {
    margin: 10px;
    align-items: center;
}

#row-makereservation {
    margin: 50px 50px 130px 50px;
}

#centered-h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}

#centered-h3 {
    font-size: 25px;
    margin-top: 20px;
}

.btn.btn-outline-secondary {
    margin-top: 25px;
}

/*Search Reservation Styles*/

.container.col-md-8.mt-3.offset-md-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 50px auto 200px;
}

#h1-search {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#btn-search {
    display: block;
    margin: 10px auto 20px auto;
    text-align: center;
}

/* View Reservations*/

#h1reservation {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Edit or delete reservation */

#h1-edit {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.btn.btn-outline-danger {
    margin-top: 25px;
    margin-left: 5px;
}

/* Logout */

#div-logout {
    margin-top: 50px;
    margin-bottom: 200px;
}

#h1logout {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#btn-logout {
    margin-bottom: 200px;
}

/* Picture for menu*/
.row.row-cols-1.row-cols-md-3.g-4 {
    background-image: url('https://res.cloudinary.com/dsbf1gec0/image/upload/v1696101625/istock_spjabk.jpg');

}

/* footer */

.py-3.my-4 {
    background-color: #ce2a2a;
    color: #fff;
    padding: 40px;
    margin: 0 !important;
}

.nav-item.nav-link.px-2.text-muted {
    color: #fff !important;
    font-size: 40px;
}

.nav.justify-content-center.border-bottom.pb-3.mb-3 a {
    color: #fff !important;
}

#footer {
    padding: 0 !important;
    margin-top: auto !important;
    margin-bottom: 0 !important;
}

#text-muted {
    color: #fff !important;
}

.text-center.text-muted {
    color: #fff !important;
}

.fab.fa-instagram {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.fab.fa-twitter {
    font-size: 30px;
}

.fab.fa-facebook {
    font-size: 30px;
}

footer {
    margin-top: auto;
}

/* Menu */
.card {
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
}

.col-12 {
    width: 90%;
}

/* Nav */

.navbar-nav .nav-item.dropdown.show .dropdown-menu {
    background-color: rgb(27, 71, 27);
}

.navbar-collapse.show {
    background-color: rgb(27, 71, 27);
    padding-bottom: 60px;
}

@media (max-width: 992px) {
    body.navbar-expanded {
        overflow-x: hidden;
        position: relative;
        transition: margin-left 0.5s;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(27, 71, 27);
        z-index: 1000;
        overflow-y: auto;
    }

    .navbar-expanded .container {

        transition: margin-top 0.5s;
    }

    .navbar-toggler {
        z-index: 1100;
    }

    body.navbar-expanded {
        overflow: hidden;
    }

    body.navbar-expanded .container {
        pointer-events: none;
    }

    body.navbar-expanded .navbar-collapse.show {
        pointer-events: auto;
    }

}

@media (max-width: 768px) {
    .navbar-toggler {
        position: absolute;
        right: 0;
    }

    .navbar-expanded {
        position: absolute;
        right: 5px;
    }
}