.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

#logo {
    font-family: 'Lobster Two', cursive;
    color: #fff;
    font-size: 40px;
    margin-left: 5px;
}

#index-logo {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}

.card-title {
    font-family: 'Lobster Two', cursive;
}

.navbar {
    background-color: rgb(27, 71, 27);
    height: 80px;
}

#navbar {
    background-color: rgb(27, 71, 27);
}

#navbarNav {
    color: #fff;
}
.navbar-toggler {
    color: #fff;
    background-color: #fff;
    margin-right: 5px;
}

.navbar-toggler-icon {
    color: #fff;
}

.navbar-nav .nav-item {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.container {
    max-width: 100%;
    margin: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;

}

.mb-3 {
    font-size: 20px;
}

.row row-cols-1 row-cols-md-3 g-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px;

}

body {
    display: flex;
    flex-direction: column;
    
}

.mb-3 flex justify-center w-full mx-auto {
    margin: 50px;
}

.login {
    margin-top: 50px;
    font-family: 'Lobster Two', cursive;
    align-items: center;
}
.row.row-cols-1.row-cols-md-3.g-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px;
}

#col {
    width: 100%;
}

.primaryAction.btn.btn-primary {
    margin-left: 20px;
}