.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

#logo {
    font-family: 'Lobster Two', cursive;
    color: #fff;
    font-size: 40px;
    margin-left: 5px;
}

#index-logo {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}

.card-title {
    font-family: 'Lobster Two', cursive;
}

.navbar {
    background-color: rgb(27, 71, 27);
    height: 80px;
}

#navbar {
    background-color: rgb(27, 71, 27);
}

#navbarNav {
    color: #fff;
}
.navbar-toggler {
    color: #fff;
    background-color: #fff;
    margin-right: 5px;
}

.navbar-toggler-icon {
    color: #fff;
}

.navbar-nav .nav-item {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.container {
    max-width: 100%;
    margin: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 0;

}

#hanging-icons {
    margin: 50px;
}

.mb-3 {
    font-size: 20px;
}

.row row-cols-1 row-cols-md-3 g-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px;

}

body {
    display: flex;
    flex-direction: column;
    
}

.mb-3.flex justify-center w-full mx-auto {
    margin-bottom: 100px;
}

.login {
    margin-top: 50px;
    font-family: 'Lobster Two', cursive;
    align-items: center;
}
.row.row-cols-1.row-cols-md-3.g-4 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 50px;
    align-items: center;
    align-content: center;
    margin-bottom: 100px;
}

.accountalready {
    margin: 20px;
}

#col {
    width: 100%;
}

.primaryAction.btn.btn-primary {
    margin-left: 20px;
}
/* Contact Style */
#contact {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}

.phone {
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    margin-bottom: 20px;
}

.email {
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
    margin-bottom: 20px;
}

#contact-id {
    font-size: 25px;
}
/* Make Reservation Styles*/
label {
    margin: 10px;
    align-items: center;
}

#row-makereservation {
    margin: 50px 50px 130px 50px;
}

#centered-h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}

#centered-h3 {
    font-size: 25px;
    margin-top: 20px;
}

.btn.btn-outline-secondary {
    margin-top: 25px;
}

/*Search Reservation Styles*/

.container.col-md-8.mt-3.offset-md-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 50px auto 200px;
}

#h1-search {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

#btn-search {
    display: block;
    margin: 10px auto 20px auto;
    text-align: center;
}

/* View Reservations*/

#h1reservation {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Edit or delete reservation */

#h1-edit {
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.btn.btn-outline-danger {
    margin-top: 25px;
    margin-left: 5px;
}