{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Edit or Delete Reservation</h1>
            <p><a href="{% url 'view_reservation' %}">Click here to go back to the reservation!</a></p>
        </div>
        <div class="row">
            <div class="col">
                <form method="post">

                    {{form|crispy}}

                    {% csrf_token %}

                    <button type="submit" class="btn btn-outline-secondary">Save Changes</button>
                    <button type="submit" class="btn btn-outline-danger">Delete</button>

                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}