{% extends "base.html" %}

{% block content %}

{% csrf_token %}

<div class="container-fluid">
    <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://res.cloudinary.com/dsbf1gec0/image/upload/v1693564449/spagetti_egdinv.jpg" alt="spagetthipic" width="72" height="57">
        <h1 class="display-5 fw-bold">Pasta Italiano</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Welcome to Pasta Italiano. Come and enjoy a world-class Italian pasta. We guarantee you a high class taste experience and a first class environment</p>
        </div>
    </div>
</div>   

{%endblock%}