{% extends "base.html" %}

{% block content %}

{% csrf_token %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1 class="text-center">Reservation Form</h1>
            <form method="POST" action="{% url 'make_reservation' %}" name="form">

                {{ form|crispy }}


                {% csrf_token %}


                <div class="mx-auto"><button class="btn btn-outline-secondary"
                        type="submit">Submit Reservation</button>
                </div>
                <div class="col-md-8 mt-3 offset-md-2">
                    <h3 class="text-center">Opening Hours: 9am to 9pm</h3>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}