{% extends "base.html" %}

{% block content %}

{% csrf_token %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dsbf1gec0/image/upload/v1693665953/meatball_sc1t0c.jpg" class="card-img-top" alt="meatball">
        <div class="card-body">
          <h5 class="card-title">Meatball & Tomato</h5>
          <p class="card-text">A Meatball & Tomato pasta full of taste, cooked with love.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dsbf1gec0/image/upload/v1693666961/lasagna_pxrtv1.jpg" class="card-img-top" alt="Lasanga">
        <div class="card-body">
          <h5 class="card-title">Lasanga</h5>
          <p class="card-text">Lasagna with the finest meat, the best Parmigiano and a lot of flavours.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dsbf1gec0/image/upload/v1693667308/bolognese_ilsbme.jpg" class="card-img-top" alt="Bolognese">
        <div class="card-body">
          <h5 class="card-title">Bolognese</h5>
          <p class="card-text">A bolognese made with the best meat,garlic and tomatoes. With the best flavours.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dsbf1gec0/image/upload/v1693809743/tomato_xoqyst.jpg" class="" alt="tomato">
        <div class="card-body">
          <h5 class="card-title">Tomato and Basil</h5>
          <p class="card-text">Pasta with fresh picked tomatoes and basil and a lot of love from the kitchen</p>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="card h-100">
          <img src="https://res.cloudinary.com/dsbf1gec0/image/upload/v1693809827/pesto_swk7xp.jpg" class="card-img-top" alt="pesto">
          <div class="card-body">
            <h5 class="card-title">Pesto</h5>
            <p class="card-text">A pesto made from fresch picked basils from our garden</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="https://res.cloudinary.com/dsbf1gec0/image/upload/v1693810046/pastascrimp_xd2plg.jpg" class="card-img-top" alt="Scrimp">
          <div class="card-body">
            <h5 class="card-title">Scrimp Pasta</h5>
            <p class="card-text">Pasta made out of scrimps and garlic and olive oil</p>
          </div>
        </div>
      </div>
  </div>

  {% endblock %}