{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <h1>Search Reservations</h1>

    <form method="post">

        {{ form|crispy }}

        {% csrf_token %}

        <button type="submit">Search</button>
    </form>

    <h2>Search Results</h2>
    <ul>
        {% for res in reservations %}
            <li> {{ res.user.username }} - {{ res.reservation_datetime }}</li>
        {% empty %}
            <li>No reservations found.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}