{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <h1>Search Reservations</h1>

    <form method="get">

        {{ form|crispy }}

        {% csrf_token %}

        <button type="submit">Search</button>
    </form>

    <h2>Search Results</h2>
    <ul>
        {% for reservation in reservation %}
            <li>{{ reservation.user_name }} - {{ reservation.reservation_date_and_time }}</li>
        {% empty %}
            <li>No reservations found.</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}