{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container col-md-8 mt-3 offset-md-2">
    <h1 class="text-center" id="h1reservation">Reservations</h1>

    {% if reservation %}
    <div class="row">
        {% for res in reservation %}
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <p class="card-text">Customer: {{ res.user.username }}</p>
                    <p class="card-text">Reservation Date and Time: {{ res.reservation_datetime }}</p>
                    <a class="btn btn-primary" href="{% url 'edit_or_delete_reservation' res.id %}">Edit or Delete</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-center">No reservations available.</p>
    {% endif %}
</div>

{% endblock content %}